<h2>Bookmarks</h2>

<table class="table">
  <thead>
    <tr>
      <th>Repository</th>
      <th>Language</th>
      <th>Stars</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repo of bookmarks">
      <td>{{ repo.full_name }}<br><small>{{ repo.description }}</small></td>
      <td>
        <div class="d-flex align-items-center">
          <div class="me-2" *ngIf="repo?.language">
            <span class="dot dot-bg-grey" [ngClass]="{
              'dot-bg-red': repo.language === 'TypeScript',
              'dot-bg-yellow': repo.language === 'JavaScript',
              'dot-bg-blue': repo.language === 'Python',
              'dot-bg-green': repo.language === 'Dart'
            }"></span><span>{{ repo.language }}</span>
          </div>
        </div>
      </td>
      <td><span><i class="fa-solid fa-star text-font-size-14"></i>{{ repo.stargazers_count | shortNumber }}</span></td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="remove(repo.id)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
